Repository tigers2020/AniVault: changes, and which pre-commit hooks are due for each by the changed paths.
All: magic-values-check, pytest-check

.pre-commit-config.yaml:

# Pre-commit hooks configuration for AniVault
repos:
  # Ruff - Fast Python linter and formatter
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.0
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix, --output-format=github]
        types: [python]
        files: ^src/
      - id: ruff-format
        types: [python]
        files: ^src/

  # MyPy - Static type checker
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        additional_dependencies: [types-requests, types-PyYAML]
        args: [--strict, --show-error-codes, --show-error-context]
        files: ^src/
        exclude: ^(tests/|scripts/|benchmarks/)
        verbose: true

  # Security checks
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.5
    hooks:
      - id: bandit
        args: [-r, src/, -f, json]
        exclude: ^(tests/|scripts/)

  # Additional Python checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: debug-statements
      - id: check-docstring-first

  # Custom magic values check
  - repo: local
    hooks:
      - id: magic-values-check
        name: Magic Values Check
        entry: python scripts/validate_magic_values.py
        language: system
        types: [python]
        exclude: |
          (?x)^(
            tests/|
            scripts/|
            __pycache__/|
            .*\.pyc$
          )

  # Test runner
  - repo: local
    hooks:
      - id: pytest-check
        name: Pytest Check
        entry: pytest
        language: system
        types: [python]
        files: ^tests/
        pass_filenames: false
        args: [-x, --tb=short]

feat: release v0.2.0 - Enhanced GUI and Configuration System
  CHANGELOG.md
  config/config.toml.template
  pyproject.toml
  run_gui.bat
  run_gui.py
  run_gui.sh
  src/anivault/cli/helpers/scan.py
  src/anivault/config/auto_scanner.py
  src/anivault/config/models/folder_security_settings.py
  src/anivault/core/organizer/main.py
  src/anivault/core/organizer/path_builder.py
  src/anivault/gui/dialogs/settings_dialog.py
  src/anivault/services/__init__.py
  src/anivault/shared/models/parser_models.py
  tests/core/organizer/test_path_builder_year.py
  tests/test_rollback_handler.py
  tests/test_transaction_manager.py
  tests/unit/core/file_grouper/test_models.py
Due: magic-values-check, pytest-check

fix: resolve pre-commit issues and add magic value constants
  CHANGELOG.md
  pyproject.toml
  src/anivault/cli/helpers/scan.py
  src/anivault/services/__init__.py
  src/anivault/shared/constants/scan_fields.py
  src/anivault/shared/constants/service_exports.py
  tests/test_rollback_handler.py
  tests/test_transaction_manager.py
  tests/unit/core/file_grouper/test_models.py
Due: magic-values-check, pytest-check

fix: resolve __all__ list and security warnings
  src/anivault/cli/helpers/scan.py
  src/anivault/services/__init__.py
  src/anivault/shared/constants/scan_fields.py
  src/anivault/shared/constants/service_exports.py
Due: magic-values-check

chore: ignore tests folder and remove test coverage from README
  .gitignore
  docs/README.md
Due: none

chore: ignore docs folder - internal development docs removed
  .gitignore
Due: none

chore: remove docs folder exception - all internal docs ignored
  .gitignore
Due: none

chore: remove scripts folder - internal development tools
  .gitignore
  scripts/analyze_high_severity.py
  scripts/analyze_magic_phase2.py
  scripts/analyze_magic_top_files.py
  scripts/analyze_violations.py
  scripts/benchmark.py
  scripts/benchmark_enricher_performance.py
  scripts/benchmark_parser.py
  scripts/build_exe.bat
  scripts/check_duplicates.py
  scripts/check_secrets.py
  scripts/check_stage1.py
  scripts/collect_scoring_baseline.py
  scripts/compare_magic_results.py
  scripts/compare_magic_violations.py
  scripts/create_test_dataset.py
  scripts/detect_magic_values.py
  scripts/dev.py
  scripts/explore_tmdb_api.py
  scripts/explore_tmdb_api_additional.py
  scripts/fetch_all_tmdb_endpoints.py
  scripts/final_verification.py
  scripts/generate_test_data.py
  scripts/memory_profile.py
  scripts/profile_memory.py
  scripts/run_memory_profile.py
  scripts/run_tests.py
  scripts/security_check.py
  scripts/setup-pre-commit.bat
  scripts/setup-pre-commit.sh
  scripts/setup.py
  scripts/tmdb_api_coverage.md
  scripts/validate_code_quality.py
  scripts/validate_dependencies.py
  scripts/validate_error_handling.py
  scripts/validate_function_length.py
  scripts/validate_magic_values.py
  scripts/validate_rule_priority.py
  scripts/validate_security_setup.py
  scripts/verify_scoring_baseline.py
Due: none

chore: ignore internal dev folders (.cursor, .taskmaster, .serena, benchmarks, examples)
  .gitignore
Due: none

fix: change run_gui.bat messages to English to avoid encoding issues
  run_gui.bat
Due: none

fix: restore Korean text with proper UTF-8 encoding and use ASCII tags instead of emoji
  run_gui.bat
Due: none

fix(bat): add UTF-8 environment variables for proper Korean display
  run_gui.bat
Due: none

chore: remove development config files
  .coveragerc
  .pre-commit-config-minimal.yaml
  .secrets.baseline
  uv.lock
Due: none

refactor(services): reorder imports in tmdb_client
  src/anivault/services/tmdb/tmdb_client.py
Due: magic-values-check

style: apply black formatting and fix ruff TRY004 errors
  src/anivault/cli/helpers/organize.py
  src/anivault/cli/helpers/scan.py
  src/anivault/gui/main_window.py
  src/anivault/shared/errors.py
Due: magic-values-check

test: fix error handling robustness tests to match actual behavior
  tests/test_error_handling_robustness.py
Due: pytest-check

fix: restore correct .gitignore - remove overly broad ignores for tests/, docs/, scripts/, and *.json
  .gitignore
Due: none

fix(cache): improve SQLite DB initialization and TMDB metadata display
  BENCHMARK_RESULTS.md
  DEVELOPMENT_GUIDE.md
  EXECUTABLE_README.md
  bandit_themes.json
  count_lines.py
  coverage.json
  find_next_violations.py
  mypy_gui_errors.txt
  mypy_gui_errors2.txt
  requirements.txt
  run_gui.bat
  run_gui.py
  src/anivault/cli/helpers/match.py
  src/anivault/gui/widgets/group_card_widget.py
  src/anivault/gui/workers/tmdb_matching_worker.py
  src/anivault/utils/resource_path.py
Due: magic-values-check

feat(grouping): add refine_group() method to TitleSimilarityMatcher
  .gitignore
  pyproject.toml
  requirements.txt
  src/anivault/core/file_grouper/grouping_engine.py
  src/anivault/core/file_grouper/matchers/title_matcher.py
  src/anivault/core/organizer/executor.py
  src/anivault/gui/workers/organize_worker.py
Due: magic-values-check

feat(config): add GroupingSettings dataclass and integrate with settings system
  config/config.toml.template
  src/anivault/config/models/__init__.py
  src/anivault/config/models/grouping_settings.py
  src/anivault/config/settings.py
  src/anivault/core/file_grouper/grouping_engine.py
Due: magic-values-check

docs(analysis): Add comprehensive time complexity analysis for all algorithms
  docs/analysis/time_complexity_analysis.md
Due: none

feat(cli): add benchmark mode for performance measurement
  src/anivault/cli/common/context.py
  src/anivault/cli/common/options.py
  src/anivault/cli/run_handler.py
  src/anivault/cli/typer_app.py
  src/anivault/core/statistics.py
Due: magic-values-check

feat(benchmarks): add benchmark scenario scripts and performance report generator
  benchmarks/benchmark_scenarios.py
  benchmarks/performance_report.py
  benchmarks/subtitle_scenarios.py
Due: magic-values-check

feat(subtitle): add index structure for subtitle matching
  src/anivault/core/subtitle_matcher.py
Due: magic-values-check

feat(subtitle): refactor matching logic with strategy-based optimization
  config/config.toml.template
  src/anivault/config/models/grouping_settings.py
  src/anivault/core/subtitle_matcher.py
Due: magic-values-check

feat(grouping): add blocking (bucket) technique to Title Matcher
  src/anivault/core/file_grouper/matchers/title_matcher.py
Due: magic-values-check

perf(normalization): add LRU cache and pre-compile regex patterns
  src/anivault/core/normalization.py
  src/anivault/shared/constants/core.py
Due: magic-values-check

perf(matching): optimize series API call caching with series title extraction
  src/anivault/core/matching/services/search_service.py
Due: magic-values-check

perf(grouping): minimize Similarity calls with guard conditions and reduce max group size
  config/config.toml.template
  src/anivault/config/models/grouping_settings.py
  src/anivault/core/file_grouper/matchers/title_matcher.py
Due: magic-values-check

perf(scan): optimize worker count and add sequential mode for small directory counts
  src/anivault/core/pipeline/components/parallel_scanner.py
  src/anivault/core/pipeline/components/scanner.py
Due: magic-values-check

fix(benchmark): handle command with spaces in performance_report.py
  benchmarks/performance_report.py
Due: magic-values-check

feat(benchmark): add performance comparison report generator
  benchmarks/generate_comparison_report.py
Due: magic-values-check

refactor(cache): migrate CacheV1 from JSON files to SQLite database
  benchmarks/benchmark_scenarios.py
  benchmarks/generate_comparison_report.py
  benchmarks/performance_report.py
  benchmarks/subtitle_scenarios.py
  src/anivault/core/pipeline/components/cache.py
  src/anivault/core/pipeline/domain/orchestrator.py
  src/anivault/services/sqlite_cache/operations/insert.py
  src/anivault/shared/constants/cache.py
  src/anivault/shared/constants/system.py
Due: magic-values-check

feat(gui): apply settings changes immediately without restart
  src/anivault/gui/main_window.py
Due: magic-values-check

fix(lint): resolve E1206 logging format and W0612 unused variable issues
  src/anivault/gui/app.py
  src/anivault/gui/dialogs/settings_dialog.py
  src/anivault/gui/workers/file_scanner_worker.py
  src/anivault/gui/workers/tmdb_matching_worker.py
Due: magic-values-check
